#logoContainer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, white 50%, #f1f1f1);
    margin: 0;
    padding: 15px;
}

#logo {
    color: #1D337A;
    text-decoration: none;
}

nav {
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(to bottom, white, #f1f1f1);
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 5px 0px;
}

.nav-link {
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}

.login_register_forms {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    background-color: #f1f1f1;
}

.mycard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background-image: linear-gradient(to bottom, white 50%, #f1f1f1);
}

.mycard:hover {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.mycard:not(hover) {
    transition: 0.4s;
}

.hidden {
    display: none;
}

.buttonContainerRight {
    display: flex;
    justify-content: right;
}

.buttonContainerCenter {
    display: flex;
    justify-content: center;
}

.greenButton {
    background-color: green;
}

.redButton {
    background-color: red;
}

.blueButton {
    background-color: #24305C;
}

.regularButton {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tableButton {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.toggle_button:hover {
    background-color: #5A79E8;
    transition: 0.4s;
}

button a {
    text-decoration: none;
    color: white;
}

button[id="deleteAll"]:hover {
    background-color: red;
    transition: 0.7s;
}

.greenOnHover:hover {
    background-color: green;
    transition: 0.7s;
}


#formRow td {
    padding: 20px 2px;
    background-image: linear-gradient(to bottom, white 20%, #f1f1f1);
}

.tableCard {
    padding: 10px 10px;
}

table {
    table-layout: fixed;
    width: 100%;
}

table .columnTitle:hover {
    background-color: #5A79E830;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

tr:nth-child(even) {
    background-color: #788AAD30;
}

tr:hover {
    background-color: #263A6190;
    color: white;
    transition: 0.3s;
}

.tableTop {
    background-color: #2B346B;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

th {
    background-color: #24305C;
    padding: 5px 5px;
    color: white;
}

.addHeader {
    display:flex;
    justify-content: center;
}

#addTransactionButton {
    font-weight: bolder;
    font-size: 1.5em;
    color: green;
    padding: 1px 6px;
    width: 100%;
}

td {
    padding: 5px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.left-item {
    width: 40%;
    padding: 0 10px;
}

.right-item {
    width: 60%;
    padding: 0 10px;
}

.explanation {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media all and (max-width: 700px) {
    .content {
        flex-direction: column;
    }

    .left-item {
        width: 100%;
        margin: 0px;
    }

    .right-item {
        width: 100%;
        margin: 0px;
    }

    .login_register_forms {
        width: 90%;
        padding: 30px;
    }

    /* table {
        display: block;
        overflow-x: auto;
        white-space: wrap;
    } */
}

@media all and (max-width:700px) {

    .mytable .transactionRow {
        display: table;
        width: 100%;
    }

    .mytable td {
        display: table-row;
        width: 100%;
    }

    .transactionDate {
        font-weight: bold;
    }

}