#logoContainer {
    display: flex;
    justify-content: center;
    color: black;
}

#logoContainer {
    background-image: linear-gradient(to bottom, white 50%, #24305C30);
    margin: 0;
    padding: 5px;
}

#logo {
    color: #1D337A;
    text-align: center;
    text-decoration: none;
}

.login_register_forms {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    background-color: #f1f1f1;
}

.login_register_forms:hover {
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    transition: 0.6s;
}

.login_register_forms:not(hover) {
    transition: 0.9s;
}

.mycard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 7px;
    margin-bottom: 30px;
    border: solid #9BB3E050;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background-color: #BBBEC850;
}

.mycard:hover {
    background-color: #f1f1f1;
    border: solid #263A6160;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.mycard:not(hover) {
    transition: 0.9s;
}

.hidden {
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: right;
}

.buttonContainerCenter {
    display: flex;
    justify-content: center;
}

.greenButton {
    background-color: green;
}

.redButton {
    background-color: red;
}

.blueButton {
    background-color: #24305C;
}

.mainFormButton {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tableButton {
    width: 100%;
    padding: 5px;
    margin: 0px;
    font-size: 80%;
}

.filterTransactionsForm {
    display: flex;
    flex-direction: row;
}

.toggle_button {
    background-color: #24305C;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.toggle_button:hover {
    background-color: #5A79E8;
    transition: 0.4s;
}

.toggle_button:focus {
    outline: none;
}

.buttonLink {
    text-decoration: none;
    color: white;
}

.redOnHover:hover {
    background-color: red;
    transition: 0.7s;
}

.greenOnHover:hover {
    background-color: green;
    transition: 0.7s;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background-color: #24305C;
}

ul.nav {
    display: flex;
    justify-content: center;
}

.nav-item {
    border-radius: 5px;
}

.nav-link {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.nav-link.active {
    color: white;
}

.nav-link.active:hover {
    color: black;
}

.nav-link:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}

table th:hover {
    background-color: #5A79E830;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

tr:nth-child(even) {
    background-color: #788AAD05;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: #263A6190;
    color: white;
    transition: 0.3s;
}

.tableTop {
    background-color: #2B346B;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;"
}

th {
    cursor: pointer;
    background-color: black;
    padding: 5px 5px;
}

td {
    padding: 5px;
    word-break: break-all;
}


table {
    table-layout: fixed;
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.contentTransactions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.tableCard {
    padding: 10px 10px;
}

.left-item {
    width: 40%;
    padding: 0 10px;
}

.right-item {
    width: 60%;
    padding: 0 10px;
}

.explanation {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

@media (max-width: 700px) {
    .content {
        flex-direction: column;
    }

    .left-item {
        width: 100%;
        margin: 0px;
    }

    .right-item {
        width: 100%;
        margin-top: 20px;
    }

    .login_register_forms {
        width: 90%;
        padding: 30px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}